<h1>Invoice Management</h1>
<ul>
    <% invoices.forEach(function(invoice) { %>
        <li>
            <a href="/invoices/details/<%= invoice._id %>"><%= invoice.invoiceNumber %></a>
        </li>
    <% }); %>
</ul>